* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
}

/* Grid */
.container {
  padding: 0 !important;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
}

/* Reset */
a {
  color: inherit !important;
  text-decoration: none !important;
}
button,
input,
textarea {
  font-family: 'DM Sans', sans-serif;
  border: none;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #2b292d;
  letter-spacing: -0.01em;
}

/* landing */
.landing {
  background-color: #fdded8;
}

.landing h1 {
  color: #2b292d;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}

/* >= 768px */
@media screen and (min-width: 768px) {
  /* Reset */
  p {
    font-size: 22px;
    line-height: 1.4545454545;
  }
}
