.grid {
  display: grid;
  grid-template-columns: auto 200px;
  grid-template-rows: 100px repeat(2, 200px) 100px;
  grid-template-areas:
    'header header header header'
    'content content content nav'
    'content content content nav'
    'footer footer footer footer';
}

.header {
  background-color: antiquewhite;
  grid-area: header;
}

.content {
  background-color: tomato;
  grid-area: content;
}

.nav {
  background-color: aqua;
  grid-area: nav;
}

.footer {
  background-color: blueviolet;
  grid-area: footer;
}
